body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    text-align: center;
}

h1 {
    margin-top: -20px;
    text-align: center;
}

.container {
    font-size: 23px;
    font-family: monospace;
    display: grid;
    place-items: center;
}

.images {
    margin-top: -40px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 85px;
}

#rpc {
    margin-top: 20px;
    margin-bottom: 30px;
}

#count-user {
    margin-bottom: 17px;
}

#count-robot {
    margin-bottom: 80px;
}

.counts {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
}

.results {
    margin-top: 60px;
}

#result-user,#result-robot {
    margin-bottom: 12px;
}

.play-again {
    display: none; 
    margin-top: -30px;
}

#reset-button {
    margin-top: 35px;
    background-color: brown;
    color: antiquewhite;
    font-size: 21px;
    font-family: monospace;
    border-radius: 7px;
}

#who-wins {
    color: brown;
    font-size: 25px;
}